.bg2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(bg2.jpg);
}

.menu {
    animation: virarTitulos 2s;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 5px;
    font-family: minhaFonte;
    font-size: xx-large;
}

.menu .sobreClicado {
    text-decoration: overline;
    text-decoration-color: rgb(255, 255, 255);
    color: rgba(219, 219, 219, 0.411);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline;
}

.menu li a {
    margin: 250px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu li a:hover {
    font-weight: bolder;
}

.horas {
    font-size: x-large;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-family: fonteRelogio;
    color: rgba(255, 145, 0, 0.815)
}

.pageSobre {
    color: rgb(252, 255, 252);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    height: auto;
    width: auto;
    margin: 40px 650px;
    padding: 30px;
    background-color: rgba(15, 15, 15, 0.877);
    /* background-color: rgba(172, 255, 39, 0.4); --> Era assim que estava anteriormente */
    border-radius: 50px;
}

.titlepageSobre {
    color: white;
    text-align: center;
    font-family: fonteCorpo;
    font-size: xx-large;
}

.Link1 {
    color: rgba(255, 255, 0, 0.568);
}

.Link2 {
    color: rgba(255, 255, 0, 0.568);
}

.Link3 {
    color: rgba(255, 255, 0, 0.568);
}


/* FONTES ABAIXO */

/* Fonte Menu */

@font-face {
    font-family: minhaFonte;
    src: url(TimelessFree.otf);
}

/* Fonte Relógio */

@font-face {
    font-family: fonteRelogio;
    src: url(FontRelogio.TTF);
}

@font-face {
    font-family: fonteCorpo;
    src: url(StoryVampire.otf);
}

@font-face {
    font-family: fontePage;
    src: url(CandyCane.otf);
}

/* ANIMAÇÕES */

@keyframes virarTitulos {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

/* PARTE PARA MOBILE ABAIXO */

@media screen and (max-width: 768px) {

    .menu li a {
        margin: 10px;
    }

    .horas {
        color: rgb(255, 255, 255);
        margin: 10px;
    }

}